<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="encabezado/header :: head"></head>

<body>
    <div th:insert="encabezado/header :: menu"></div>
    <br>

    <div class="container mt-4">
        <h2>Lista de Videojuegos</h2>
        <div class="row">
            <div th:each="juego : ${juegos}" class="col-md-4 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 th:text="${juego.nombre}" class="card-title"></h5>
                        <p><strong>Categoría: </strong><span th:text="${juego.categoria}" class="card-text"></span></p>
                        <a th:href="@{/verJuego/{id}(id=${juego.id})}" class="btn btn-primary">Ver Detalles</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
